.toast-wrapper {
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
    padding: 0px 20px;
    z-index: 50;
    .toast {
        border: 1px solid rgba(255, 255, 255, 0.35);
        border-radius: 20px;
        padding: 8px;
        text-align: center;
        overflow-wrap: break-word;
        font-size: 14px; 
        &.error {
            background-color: #C63F50;
        }
        &.success {
            background-color: #109D74;
        }
    }
}