<div class="toast-wrapper" *ngIf="toast.message">
    <div class="toast" [ngClass]="{'error' : toast.type === 'error', 'success' : toast.type === 'success'}">
      {{ toast.message }}
    </div>
</div>