@import '../../../common/styles/variables.scss';

.nav-bar {
    height: 60px;
    background-color: $nav-bg-color;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;

    img {
        width: 40px;
        float: left;
        margin-top: 10px;
        margin-left: 10px;   
    }

    ul {
        display: flex;
        justify-content: flex-end;
        height: 100%;
        align-items: center;
    }

    li {
        padding: 0 20px;
        height: 100%;
        cursor: pointer;
        span {
            height: 100%;
            display: flex;
            align-items: center;
        }
    }
}