<nav class="nav-bar">
    <img src="assets/icons/icon-96x96.png" alt="logo">
    <ul>
        <li *ngIf="_sharedService.getAuthToken"><span (click)="logout()">Logout</span></li>
        <li *ngIf="!_sharedService.getAuthToken && !signupPage"><span [routerLink]="APP_CONSTANTS.APP_ROOTS.signupPage">Sign Up</span></li>
    </ul>
</nav>