.loader-wrapper {
    position: fixed; // NOTE: Loader needs to be fixed, so that user can't interact with the page content
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 10;
  
    .loader {
      border: 4px solid rgba(243, 243, 243, 0.7);
      border-radius: 50%;
      border-top: 4px solid #1D1D28;
      width: 32px;
      height: 32px;
      animation: spin 2s linear infinite;
      top: 45%;
      margin: 0 auto;
      position: relative;
    }
  
    /* Safari */
    @-webkit-keyframes spin {
      0% {
        -webkit-transform: rotate(0deg);
      }
  
      100% {
        -webkit-transform: rotate(360deg);
      }
    }
  
    @keyframes spin {
      0% {
        transform: rotate(0deg);
      }
  
      100% {
        transform: rotate(360deg);
      }
    }
  }
  