<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <input type="text" placeholder="Email" formControlName="email"/>
    <div *ngIf="_sharedService.formFieldErrorMessage(_sharedService.fc(this.loginForm).email, loginFormInvalidStatus)">
        {{LOGIN_CONSTANTS.LOGIN_FORM.emailErrorMessage}}
    </div>
    <input type="text" placeholder="Password" formControlName="password"/>
    <div *ngIf="_sharedService.formFieldErrorMessage(_sharedService.fc(this.loginForm).password, loginFormInvalidStatus)">
        {{LOGIN_CONSTANTS.LOGIN_FORM.passwordErrorMessage}}
    </div>
    <button>{{LOGIN_CONSTANTS.LOGIN_FORM.submitButton}}</button>
</form>