/* You can add global styles to this file, and also import other style files */
@import './app/common/styles/variables.scss';

body {
    color: $theme-font-color;
    background-color: $theme-bg-color;
}